<h1>Search for an event</h1>
  <%= form_for search_path do |f|%>
  <%=f.label "Search for"%>
  <%=text_field_tag :query, params[:query]%>
  <%=submit_tag "Submit", name: nil%>
<%end%>

<ul>
  <% @events.each do |event| %>
    <li> <%=link_to event.name, event_path(event)%></li>
  <%end%>
</ul>
