
<div id="signup-form" class="container">
	<h3>Welcome to Pickup, please sign up to create an account</h3>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

		<%= form_for @user do |f| %>
			<p> <%= f.text_field :first_name, :placeholder => "First Name", class: "form-control" %></p>
			<p> <%= f.text_field :last_name, :placeholder => "Last Name", class: "form-control" %></p>
			<p> <%= f.email_field :email, :placeholder => "Email" , class: "form-control"%></p>
			<p> <%= f.password_field :password, :placeholder => "Password" , class: "form-control"%></p>
			<p> <%= f.submit "Sign up", class: "btn btn-success" %></p>
	<% end %>
	<div >
		<h7>Or Login with: </h7>
		<div class="social-button"><%= link_to image_tag("facebook.png"), '/auth/facebook'%></div><br>
    <div class="social-butoon"><%= link_to image_tag("twitter.png"), '/auth/twitter'%></div>
  </div>
</div>




