  <%= javascript_include_tag 'userlogin/addmarker.js'%>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <div id = "mappp" style="height: 100%;" align="center"></div>
    </div>
    <div id="page-content-wrapper">
      <div class="page-content">
        <div class="container">
          <div class="row col-lg-10" >
              <%closeevents.each do |event|%>
                <div class="col-lg-5 event-card" id="<%=event.sport%>" href="event">
                  <h2><%=link_to event.event_name, event_path(event)%></h2>
                  <p class="eventcard">
                    <%=event.sport%>
                    <%= link_to "Show", class: "showme", data: {lat: event.latitude, long: event.longitude} do %>
                    Show
                  <% end %>
                  </p>
                </div>
              <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
