  <%= javascript_include_tag 'userlogin/addmarker.js'%>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <div id = "mappp" style="height: 100%;" align="center"></div>
    </div>
    <div id="page-content-wrapper">
      <div class="page-content">
        <div class="container">
          <div class="row col-lg-12" >
              <%closeevents.each do |event|%>
                <div class="col-lg-6 event-card" id="<%event.event_name%>" href="event">
                <p><%=link_to event.event_name, event_path(event)%></p>
                <%=event.sport%>
                <%= link_to "Show", class: "showme", data: {lat: event.latitude, long: event.longitude} do %>
                <% end %>
                <div class="col-lg-1" id='index_join'><%= button_to "Join", join_path(id: event.id), id: "index_join_button", remote: true%></div>
                </div>
              <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>

