<%= javascript_include_tag 'events/mapsetup.js'%>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <div id = "mappp" style="height: 100%;" align="center"></div>
  </div>
  <div id="page-content-wrapper">
    <div class="row col-lg-12">
      <div class="col-lg-1 text-right"></div>
      <div class="col-lg-5 text-left">
        <div class="event-buttons"><h1>Events near you:</h1></div>
      </div>
      <div class="col-lg-3 text-right"></div>
      <div class="col-lg-2">
        <div class="event-buttons pull-right"><%= button_to "Create an event", new_event_path, method: "get", class: "" %>
        <%= button_to "See all events", events_filter_path, method: "get", class: "" %>
        </div>
      </div>
      <div class="col-lg-1 text-right"></div>
    </div>
    <div class="page-content">
      <div class="container">
        <div class="row col-lg-12 nearby-event-page" >
            <%@nearevents.each do |event|%>
              <div class="col-lg-5 event-card" id="<%=event.sport%>" href="event">
                <h1><%=link_to event.event_name.capitalize, event_path(event)%></h1>
                <h5 class="eventcard">
                  <%=event.sport%> <%=event.date.strftime("%m/%d")%>
                </h5>
                <h2 class=" pinnn">
                  <%= link_to "Show", class: "showme glyphicon glyphicon-map-marker", data: {lat: event.latitude, long: event.longitude} do %>
                <% end %>
                </h2>
              </div>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

