
<%= javascript_include_tag 'userlogin/map.js'%>

<div class="col-md-12">
  <div class ="row">
    <div class="col-md-4">
      <h1> <%=@event.event_name%> </h1>
    </div>
  </div>
  <div class ="row">
    <div class="col-md-4">
      <div class="table">
        <table class="event-table" style>
          <tr> <td><b>Event Details: </b></td></tr>
          <tr> <td> Sport: <%= @event.sport %> </td></tr>
          <%if @event.description %>
          <tr> <td> Description: <%= @event.description %> </td></tr>
          <%end%>
          <tr> <td> Start: <%= @event.start.strftime("%I:%M %P") %> </td></tr>
          <%if @event.end %>
          <tr> <td> End: <%= @event.end.strftime("%I:%M %P") %> </td></tr>
          <%end%>
          <tr> <td> Date: <%= @event.date.strftime("%m/%d/%Y") %> </td></tr>
          <tr> <td> Participants: <%= @event.users.size %> / <%=@event.participants%> </td></tr>
          <tr> <td> Location: <%= @event.location.upcase %> </td></tr>
        </table>
        <div class="panel panel-default">
          <div class="panel-heading">Attending</div>
            <ul class="list-group">
              <% @event.users.each do |e| %>
              <li class="list-group-item"><%= e.first_name.capitalize%> <%= e.last_name[0].capitalize%>. email: <%=e.email%></li>
              <% end %>
            </ul>
          </div>
           <%if @event.users.where(id: current_user.id).length == 0 %>
            <td class="col-md-1" id='index_join'><%= button_to "Join", join_path(id: @event.id), id: "index_join_button", remote: true%></td>
          <% else %>
              <td class="col-md-1"><%= button_to "leave", leave_path(id: @event.id), method: "put" %></td>
          <% end %>

        </div>
      </div>
    <div class="col-md-8">
      <div id="map2" style="height: 500px; width: 500px;"></div>
    </div>
  </div>
</div>

<%= content_tag :div, id: "event-info", data: {lat_info: @event.latitude, lng_info: @event.longitude} do %>
<% end %>

