
<%= javascript_include_tag 'userlogin/map.js'%>


<h1> <%=@event.event_name%> </h1>

<div class="table-responsive">
  <table class="event-table">
    <tr> <td><b>Event Info: </b></td></tr>
    <tr> <td> Event Name: <%= @event.event_name %> </td></tr>
    <tr> <td> Sport: <%= @event.sport %> </td></tr>
    <tr> <td> Description: <%= @event.description %> </td></tr>
    <tr> <td> Start: <%= @event.start %> </td></tr>
    <%if %>
      <tr> <td> End: <%= @event.end %> </td></tr>
    <%end%>
    <tr> <td> Date: <%= @event.date %> </td></tr>
    <tr> <td> Participants: <%= @event.participants %> </td></tr>
    <tr> <td> Location: <%= @event.location %> </td></tr>
  </table>
</div>

<div id="map2" style="height: 500px; width: 500px"></div>

  <%= content_tag :div, id: "event-info", data: {lat_info: @event.latitude, lng_info: @event.longitude} do %>
  <% end %>

