
<%= javascript_include_tag 'userlogin/map.js'%>

<div class ="row">
    <h1> <%=@event.event_name%> </h1>
    <div class="col-md-2">
      <div class="table">
        <table class="event-table">
          <tr> <td><b>Event Details: </b></td></tr>
          <tr> <td> Sport: <%= @event.sport %> </td></tr>
          <%if @event.description %>
            <tr> <td> <%= @event.description %> </td></tr>
          <%end%>
          <tr> <td> Start: <%= @event.start.strftime("%I:%M %P") %> </td></tr>
          <%if @event.end %>
            <tr> <td> End: <%= @event.end %> </td></tr>
          <%end%>
          <tr> <td> Date: <%= @event.date.strftime("%m/%d/%Y") %> </td></tr>
          <tr> <td> Participants: <%= @event.users.size %> / <%=@event.participants%> </td></tr>
          <tr> <td> Location: <%= @event.location %> </td></tr>
        </table>
              <td><%= button_to "Join", join_path(id: @event), class: "btn"%></td>
      </div>
    </div>
    <div class="col-md-6">
      <div id="map2" style="height: 500px; width: 500px"></div>
    </div>
 </div  >

  <%= content_tag :div, id: "event-info", data: {lat_info: @event.latitude, lng_info: @event.longitude} do %>
  <% end %>

