  <%= javascript_include_tag 'eventfilters/filtering.js'%>

<table id="filters">
  <tr>
    <td>
    Sport
    <br>
    <select name="sportmenu" id="sport">
      <option value="start"></option>
      <option value="Soccer">Soccer</option>
      <option value="Basketball">Basketball</option>
      <option value="Tennis">Tennis</option>
      <option value="misc">Other</option>

    </select>
    </td>
    <td>
    Distance
    <br>
    <select name="locationmenu" id="location">
      <option value="start"></option>
      <option value="5">Under 5 miles</option>
      <option value="20">Under 20 miles</option>
      <option value="40">Under 40 miles</option>
      <option value="100">Under 100 miles</option>
    </select>
    </td>
    <td>
    Event Start
    <br>
    <select name="datemenu" id="date">
      <option value="start"></option>
      <option value="week">This week</option>
      <option value="2weeks">In the next two weeks</option>
      <option value="3weeks">In the next three weeks</option>
      <option value="month">In a month</option>
    </select>
    </td>
    <td>
    <%=link_to 'Remove Filter', allevents_path, :id => 'clear' %>
    </td>
  </tr>
</table>
<table id ="allevents">
<tr>
<th class="item col-xs-1 centercolumn">Event name</th>
<th class="item col-xs-1 centercolumn">Activity</th>
<th class="item col-xs-1 centercolumn">Location</th>
<th class="item col-xs-1 centercolumn">Date</th>
<th class="item col-xs-1 centercolumn">Start time</th>
</tr>
  <%@events.each do |event|%>
    <tr>
      <td>
        <%=link_to event.event_name, event_path(event)%>
      </td>
      <td>
        <%=event.sport%>
      </td>
      <td>
        <%=event.location%>
      </td>
      <td>
        <%=event.date.strftime("%A %m/%d/%Y")%>
      </td>
      <td>
        <%=event.start.strftime("%I:%M %P")%>
      </td>
    </tr>
  <%end%>
</table>
