<!DOCTYPE html>
<html>
<head>
  <title>PickUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="navbar-default navbar-inverse">
    <%= link_to 'Home', root_path %>
    <% if @current_user %>
	    <%= link_to "Profile", user_path(@current_user) %>
			<%= @current_user.email %>
			<%= link_to "Logout", logout_path, method: "delete", class: "navbar-btn" %>
		<% else %>
			<%= link_to "Login", 'login', class: "btn navbar-btn" %>
			<%= link_to "Signup", 'signup', class: "btn navbar-btn" %>
		<% end %>
	</div>
    <%= yield %>
</body>
</html>
